absl-py==0.8.1
apturl==0.5.2
asn1crypto==0.24.0
astor==0.8.0
astroid==2.3.3
attrs==19.3.0
AudioConverter==0.1.3
audioread==2.1.8
awscli==1.14.44
backcall==0.1.0
beautifulsoup4==4.8.2
bleach==3.1.0
boto3==1.10.32
botocore==1.13.32
Brlapi==0.6.6
bs4==0.0.1
cachetools==3.1.1
certifi==2019.9.11
cffi==1.13.2
chardet==3.0.4
Click==7.0
colorama==0.4.1
command-not-found==0.3
cryptography==2.1.4
cupshelpers==1.0
cycler==0.10.0
decorator==4.4.1
defer==1.0.6
defusedxml==0.6.0
dill==0.3.1.1
distro-info===0.18ubuntu0.18.04.1
docutils==0.15.2
entrypoints==0.3
future==0.18.2
gast==0.2.2
google-auth==1.7.2
google-auth-oauthlib==0.4.1
google-pasta==0.1.8
googleapis-common-protos==1.6.0
grpcio==1.25.0
gzipstream==0.1.0
h5py==2.10.0
httplib2==0.9.2
idna==2.6
importlib-metadata==1.4.0
ipykernel==5.1.3
ipython==7.11.1
ipython-genutils==0.2.0
isort==4.3.21
jedi==0.15.2
jellyfish==0.7.2
Jinja2==2.10.3
jmespath==0.9.4
joblib==0.14.1
json5==0.8.5
jsonschema==3.2.0
jupyter-client==5.3.4
jupyter-core==4.6.1
jupyterlab==1.2.4
jupyterlab-server==1.0.6
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
keyring==10.6.0
keyrings.alt==3.0
kiwisolver==1.1.0
language-selector==0.1
launchpadlib==1.10.6
lazr.restfulclient==0.13.5
lazr.uri==1.0.3
lazy-object-proxy==1.4.3
librosa==0.7.1
llvmlite==0.31.0
louis==3.5.0
macaroonbakery==1.1.3
Mako==1.0.7
Markdown==3.1.1
MarkupSafe==1.0
matplotlib==3.1.2
mccabe==0.6.1
mistune==0.8.4
mock==3.0.5
more-itertools==7.2.0
mrjob==0.7.0
nbconvert==5.6.1
nbformat==5.0.3
netifaces==0.10.4
networkx==2.4
nltk==3.4.5
notebook==6.0.2
numba==0.47.0
numpy==1.17.4
oauth==1.0.1
oauthlib==3.1.0
olefile==0.45.1
opt-einsum==3.1.0
pandas==0.25.3
pandocfilters==1.4.2
parso==0.5.2
pbr==5.4.4
pexpect==4.2.1
pickleshare==0.7.5
Pillow==5.1.0
pipenv==2018.11.26
prometheus-client==0.7.1
promise==2.2.1
prompt-toolkit==3.0.2
protobuf==3.11.2
psycopg2-binary==2.8.4
ptyprocess==0.6.0
pyasn1==0.4.8
pyasn1-modules==0.2.7
pycairo==1.16.2
pycparser==2.19
pycrypto==2.6.1
pycups==1.9.73
pydub==0.23.1
Pygments==2.2.0
pygobject==3.26.1
pylint==2.4.3
pymacaroons==0.13.0
PyNaCl==1.1.2
pyparsing==2.4.5
pyRFC3339==1.0
pyrsistent==0.15.7
python-apt==1.6.4
python-dateutil==2.6.1
python-debian==0.1.32
pytz==2018.3
pyxdg==0.25
PyYAML==3.12
pyzmq==18.1.1
regex==2019.12.20
reportlab==3.4.0
requests==2.22.0
requests-oauthlib==1.3.0
requests-unixsocket==0.1.5
resampy==0.2.2
roman==2.0.0
rsa==4.0
s3transfer==0.2.1
scikit-learn==0.22.1
scipy==1.4.1
SecretStorage==2.3.1
segtok==1.5.7
selectolax==0.2.3
Send2Trash==1.5.0
simplejson==3.13.2
six==1.13.0
SoundFile==0.10.3.post1
soupsieve==1.9.5
stevedore==1.31.0
system-service==0.3
systemd-python==234
tabulate==0.8.6
tensorboard==1.13.1
tensorflow==1.13.2
tensorflow-datasets==1.3.0
tensorflow-estimator==1.13.0
tensorflow-gpu==1.15.0
tensorflow-metadata==0.15.1
termcolor==1.1.0
terminado==0.8.3
testpath==0.4.4
tornado==6.0.3
tqdm==4.40.0
traitlets==4.3.3
typed-ast==1.4.0
ubuntu-drivers-common==0.0.0
ufw==0.36
unattended-upgrades==0.1
urllib3==1.22
usb-creator==0.3.3
virtualenv==16.7.6
virtualenv-clone==0.5.3
virtualenvwrapper==4.8.4
wadllib==1.3.2
warc==0.2.1
warcio==1.7.1
wcwidth==0.1.8
webencodings==0.5.1
Werkzeug==0.16.0
wrapt==1.11.2
xkit==0.0.0
yake==0.4.2
zipp==0.6.0
zope.interface==4.3.2
